.img-icon--clock { background-image: url('png/clock.png'); background-repeat: no-repeat; }

.img-icon--flag { background-image: url('png/flag.png'); background-repeat: no-repeat; }

.img-icon--globe { background-image: url('png/globe.png'); background-repeat: no-repeat; }

.img-icon--gwg { background-image: url('png/gwg.png'); background-repeat: no-repeat; }

.img-icon--usa { background-image: url('png/usa.png'); background-repeat: no-repeat; }

